{% extends 'common/master.html' %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ activity.start_time|date:'Y-m-d H:i' }} {{ activity.sport }} {{ activity.formatted_distance }}</h5>
            <button class="btn h6" type="button" data-toggle="collapse" data-target="#activity" aria-expanded="false" aria-controls="activity">Activity data</button>
            <div class="collapse show" id="activity">
                {% include "activities/activity_table.html" with activity=activity %}
            </div>

            <button class="btn h6" type="button" data-toggle="collapse" data-target="#laps" aria-expanded="false" aria-controls="laps">Laps</button>
            <div class="collapse" id="laps">
                {% include "activities/laps_table.html" with activity=activity %}
            </div>
            {% if activity.start_position_lat and activity.start_position_long %}
                <button class="btn h6" type="button" data-toggle="collapse" data-target="#map" aria-expanded="false" aria-controls="map">Map</button>
                <div class="collapse" id="map">
                    {% include "activities/map.html" with activity=activity %}
                </div>
            {% endif %}
            <button class="btn h6" type="button" data-toggle="collapse" data-target="#hr_graph" aria-expanded="false" aria-controls="hr_graph">Heart rate graph</button>
            <button class="btn h6" type="button" data-toggle="collapse" data-target="#altitude_graph" aria-expanded="false" aria-controls="altitude_graph">Altitude graph</button>
            <button class="btn h6" type="button" data-toggle="collapse" data-target="#speed_graph" aria-expanded="false" aria-controls="speed_graph">Speed graph</button>
            <button class="btn h6" type="button" data-toggle="collapse" data-target="#speed_and_hr_graph" aria-expanded="false" aria-controls="speed_and_hr_graph">Speed vs Heart rate graph</button>
            <div class="collapse" id="hr_graph">
                <h2>Heart Rate (bmp)</h2>
                {% include "activities/hr_graph.html" with activity=activity %}
            </div>
            <div class="collapse" id="altitude_graph">
                <h2>Altitude (m)</h2>
                {% include "activities/altitude_graph.html" with activity=activity %}
            </div>
            <div class="collapse" id="speed_graph">
                <h2>Speed (km/h)</h2>
                {% include "activities/speed_graph.html" with activity=activity %}
            </div>
            <div class="collapse" id="speed_and_hr_graph">
                <h2>Speed (km/h) & Heart Rate (bmp)</h2>
                {% include "activities/speed_and_hr_graph.html" with activity=activity %}
            </div>
        </div>
    </div>
{% endblock %}